body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}

.select-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.select-container label {
    margin-right: 10px;
    font-weight: bold;
}

.styled-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-right: 20px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff; /* Set table background to white */
}

th, td {
    border-bottom: 1px solid #ddd; /* Only show the bottom border for rows */
    padding: 12px;
    text-align: left;
    color: #000; /* Change text color to black */
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
    border-bottom: 2px solid #ddd; /* Stronger border for the header row */
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.no-note {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.average-note {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px; /* Increase font size */
    color: #333; /* Darker color for better readability */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
    text-align: center; /* Center align the text */
}

.button {
    --color: #00A97F;
    padding: 0.1em 0.3em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin: 4px;
}

.button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: rgb(10, 25, 30);
}

.button:active {
    filter: brightness(.8);
}
