<div class="select-container">
    <label for="sortBy">Trier par:</label>
    <select class="styled-select" id="sortBy" [(ngModel)]="sortOrder" (change)="sortNotes()">
        <option value="none">Aucun</option>
        <option value="asc">Note ordre croissant (0 > 20)</option>
        <option value="desc">Note ordre Decroissant(20 > 0)</option>
    </select>
</div>

<div class="table-container">
    <table *ngIf="filteredNotes.length > 0">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Note</th>
                <th>Coefficient</th> <!-- Add coefficient column -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let note of filteredNotes">
                <td>{{ note.subject }}</td>
                <td>{{ note.note }}</td>
                <td>{{ note.coefficient }}</td> <!-- Display coefficient -->
            </tr>
        </tbody>
    </table>
    <div *ngIf="filteredNotes.length > 0" class="average-note">
        <strong>Moyenne de Note du Semestre: {{ averageNote }}</strong>
    </div>
</div>

<div *ngIf="filteredNotes.length === 0" class="no-note">
    <strong>Les notes ne sont pas encore disponibles.</strong>
</div>
