<div>
    <label for="classSelect">Classe:</label>
    <select id="classSelect" [(ngModel)]="selectedClass">
      <option value="1">classe sc.Mathematique</option>
      <option value="2">classe sc.physique</option>
      <option value="3">classe sc.SVT</option>
    </select>
  </div>
  <div class="div_notes" style="display: flex; justify-content: space-between;">
    <button (click)="addNote()" class="btn-ajouter" *ngIf="selectedClass && notes.length > 0">Ajouter les notes</button>
    <table *ngIf="selectedClass && filteredNotes.length > 0">
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Note</th>
        <th>Action</th>

      </tr>
      <tr *ngFor="let note of filteredNotes">
        <td>{{ note.id }}</td>
        <td>{{ note.nom }}</td>
        <td>{{ note.prenom }}</td>
        <td>{{ note.email }}</td>
        <td>{{ note.note }}</td>
        <td>
          <button (click)="editNotes(note)">Modifier</button>
          <button (click)="deleteNotes(note)">Supprimer</button>
        </td>
      </tr>
    </table>
  </div>
  
  <div *ngIf="!selectedClass || filteredNotes.length === 0" class="no-note">
    <strong>LES NOTES ICI</strong>
  </div>
  