<div>
  <div class="filter-container">
    <div>
      <label for="classSelect">Classe:</label>
      <select id="classSelect" [(ngModel)]="selectedClass">
        <option value="1">classe sc.Mathematique</option>
        <option value="2">classe sc.physique</option>
        <option value="3">classe sc.SVT</option>
      </select>
    </div>
    <div class="sort-container">
      <label for="noteSelect">Trier par:</label>
      <select id="noteSelect" [(ngModel)]="sortOrder">
        <option value="1">Note Ascendant</option>
        <option value="2">Note Descendant</option>
        <option value="3">ID</option>
        <option value="4">Nom</option>
      </select>
    </div>
  </div>
</div>

<div class="div_notes">
  <div class="table-container">
    <table *ngIf="selectedClass && filteredNotes.length > 0">
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Note</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let note of filteredNotes">
        <td>{{ note.id }}</td>
        <td>{{ note.nom }}</td>
        <td>{{ note.prenom }}</td>
        <td>{{ note.email }}</td>
        <td>{{ note.note }}</td>
        <td class="action-cell">
          <div class="actions">
            <button class="action-button" (click)="editNoteMode(note)">Modifier</button>
            <button class="action-button" (click)="deleteNote(note)">Supprimer</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="!selectedClass || filteredNotes.length === 0" class="no-note">
  <strong>Les notes ne sont pas encore disponibles.</strong>
</div>

<!-- Modal for editing notes -->
<div *ngIf="isEditMode" class="modal">
  <div class="modal-content">
    <span class="close" (click)="cancelEdit()">&times;</span>
    <h2>Edit Student Note</h2>
    <form (ngSubmit)="addOrUpdateNote()">
      <label for="nom">Nom:</label>
      <input type="text" id="nom" [(ngModel)]="newNote.nom" name="nom" required>
      
      <label for="prenom">Prénom:</label>
      <input type="text" id="prenom" [(ngModel)]="newNote.prenom" name="prenom" required>
      
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="newNote.email" name="email" required>
      
      <label for="note">Note:</label>
      <input type="number" id="note" [(ngModel)]="newNote.note" name="note" required>
      
      <button type="submit">Enregistrer</button>
      <button type="button" (click)="cancelEdit()">Annuler</button>
    </form>
  </div>
</div>
