<div class="container">
  <div *ngIf="admins && admins.length > 0">
    <h2>Admins</h2>
    <table class="table table-dark table-striped-columns">
      <thead>
        <tr>
          <th>ID</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let admin of admins">
          <td>{{ admin.id }}</td>
          <td>{{ admin.role }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!admins || admins.length === 0">
    <p>No admins found.</p>
  </div>
</div>
