<div class="select-container">
  <label for="classSelect">Classe:</label>
  <select class="styled-select" id="classSelect" name="classSelect" [(ngModel)]="selectedClass">
    <option value="1">classe 1</option>
    <option value="2">classe 2</option>
    <option value="3">classe 3</option>
  </select>
</div>
  <!-- Table -->
  <table  class="table" *ngIf="selectedClass && filteredStudents.length > 0">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col">Mot de passe</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let student of filteredStudents">
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.password }}</td>
        <td>
            <button  (click)="editStudent(student)" class="button">Modifier</button>
            <button (click)="deleteStudent(student)" class="button">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- End Table -->
  <div>
    <button (click)="showAddStudentModal = true" class="button" *ngIf="selectedClass">Ajouter un nouvel étudiant</button>

  <div class="modal" [ngClass]="{'show': showAddStudentModal}">
    <div class="modal-content">
      <form>
        <div class="form-group">
          <label for="name">Nom</label>
          <input type="text" class="form-control" id="name" placeholder="Nom">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" class="form-control" id="password" placeholder="Mot de passe">
        </div>
        <button type="submit" class="btn btn-success">Ajouter</button>
        <button type="button" class="btn btn-secondary" (click)="showAddStudentModal = false">Annuler</button>
      </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showAddStudentModal = false">Annuler</button>
            <button type="button" class="btn btn-success" (click)="addStudent()">Ajouter</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Add Student Modal -->
<div *ngIf="!selectedClass || filteredStudents.length === 0" class="no-students">
  Aucun étudiant trouvé.
</div>
