<div>
  <label for="classSelect">Classe:</label>
  <select id="classSelect">
    <option value="">Toutes les classes</option>
    <option value="1">classe 1</option>
    <option value="2">classe 2</option>
    <option value="3">classe 3</option>
  </select>
</div>
<div class="div_student" style="display: flex; justify-content: space-between">
  <button class="btn-ajouter">Ajouter un nouveau étudiant</button>
  <table>
    <tr>
      <th>idEleve</th>
      <th>idClasse</th>
      <th>niveau</th>
      <th>nomClasse</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>{{ student.idEleve }}</td>
      <td>{{ student.classe.idClasse }}</td>
      <td>{{ student.classe.niveau }}</td>
      <td>{{ student.classe.nomClasse }}</td>

      <td>
        <button>Modifier</button>
        <button>Supprimer</button>
      </td>
    </tr>
  </table>
</div>

<div class="no-students">Aucun étudiant trouvé.</div>
