<!-- info-personnelle.component.html -->
<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Informations personnelles de l'élève</h2>
      <img class="image" src="assets/info.png" alt="Icone de consultation d'infos">
    </div>
    <div class="card-body">
      <p><strong>Nom:</strong> {{ nom }}</p>
      <p><strong>Prénom:</strong> {{ prenom }}</p>
      <p><strong>Âge:</strong> {{ age }}</p>
      <div class="buttons">
        <button mat-raised-button color="primary">Modifier</button>
        <button mat-raised-button color="warn">Supprimer</button>
      </div>
    </div>
  </div>
</div>
