.container{
  text-align: center;
  margin-left: 150px;
}
#img{
  height: 250px;
  width: 300px;
  margin-top: 2px;
  }
  .nav-link {
    color: rgb(241, 247, 241);
  }
  form{
    display: inline-block;
  }
  .card-header{
    background-color: #307c49;
  }
  .card{
    width: 650px;
  }
  .input-group-text{
    background-color: #bdf1bf;
    width: 80px;
    color: rgb(119, 118, 118);
  }
  h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
  }
